ion-grid {
    height: 100vh;
}

.playerStats{
    height: 35vh;
}
.teamStats{
    height: 10vh;
}

.t1-reves{
    border: 2px solid white;
}
.t2-reves{
    border: 2px solid white;
}
.t1-drive{
    border: 2px solid white;
}
.t2-drive{
    border: 2px solid white;
}