<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)='goBack()'>
      <ion-icon name="chevron-back-outline" size="large"></ion-icon> {{"VOLVER" | translate}}
    </ion-buttons>
    <ion-title>{{"PARTIDO" | translate}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)='goToStats()'>
        <ion-icon slot="icon-only" name="stats-chart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true" class="border-bottom-2px">
    <ion-row>
      <ion-col class="align-center">{{matchService.game.getTeamLabel(1)| uppercase}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-center">{{matchService.game.team1.drive.name | uppercase}}</ion-col>
      <ion-col class="align-center">{{matchService.game.team1.reves.name | uppercase}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true" class="border-bottom-2px">
    <ion-row>
      <ion-col class="align-center border-right-2px">
        <app-player-stats [team]="'team1'" [player]="'drive'"></app-player-stats>
      </ion-col>
      <ion-col class="align-center">
        <app-player-stats [team]="'team1'" [player]="'reves'"></app-player-stats>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid [fixed]="true" class="border-top-2px">
    <ion-row>
      <ion-col class="align-center border-right-2px">
        <app-player-stats [team]="'team2'" [player]="'reves'"></app-player-stats>
      </ion-col>
      <ion-col class="align-center">
        <app-player-stats [team]="'team2'" [player]="'drive'"></app-player-stats>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true" class="border-top-2px">
    <ion-row>
      <ion-col class="align-center">{{matchService.game.team2.reves.name | uppercase}}</ion-col>
      <ion-col class="align-center">{{matchService.game.team2.drive.name | uppercase}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="align-center">{{matchService.game.getTeamLabel(2) | uppercase}}</ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col class="align-left" [ngClass]="{'is-serving': matchService.isServing(1)}"
              (click)="matchService.setService(1)">{{matchService.game.getTeamLabel(1) | uppercase}}
              <ion-icon *ngIf="matchService.isServing(1)" name="tennisball-outline" class="tennis-ball"></ion-icon></ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="1">
              <ion-button size="small" (click)="matchService.point(1)">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col
              class="border-left-2px  border-bottom-2px border-top-2px align-center">{{matchService.game.team1.set1.points}}</ion-col>
            <ion-col
              class="border-left-2px  border-bottom-2px border-top-2px align-center">{{matchService.game.team1.set2.points}}</ion-col>
            <ion-col *ngIf="matchService.game.thirdSetType === 3"
              class="border-left-2px border-right-2px border-bottom-2px border-top-2px align-center">{{matchService.game.team1.set3.points}}</ion-col>
            <ion-col *ngIf="matchService.game.thirdSetType === 4"
              class="border-left-2px border-right-2px border-bottom-2px border-top-2px align-center">{{matchService.game.team1.super.points}}</ion-col>
            <ion-col
              class="border-left-2px border-right-2px border-bottom-2px border-top-2px align-center background-light-blue">{{matchService.game.getTeamCurrentGame(1)}}</ion-col>
            <ion-col size="1">
              <ion-button size="small" (click)="matchService.point(2)">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="1">
              <ion-button size="small" (click)="matchService.rollBackPoint()">
                <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col
              class="border-left-2px border-bottom-2px align-center">{{matchService.game.team2.set1.points}}</ion-col>
            <ion-col
              class="border-left-2px border-bottom-2px align-center">{{matchService.game.team2.set2.points}}</ion-col>
            <ion-col *ngIf="matchService.game.thirdSetType === 3"
              class="border-left-2px border-right-2px border-bottom-2px align-center">{{matchService.game.team2.set3.points}}</ion-col>
            <ion-col *ngIf="matchService.game.thirdSetType === 4"
              class="border-left-2px border-right-2px border-bottom-2px align-center">{{matchService.game.team2.super.points}}</ion-col>
            <ion-col
              class="border-left-2px border-right-2px border-bottom-2px align-center background-light-blue">{{matchService.game.getTeamCurrentGame(2)}}</ion-col>
            <ion-col size="1">
              <ion-button size="small" (click)="matchService.rollBackPoint()">
                <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col class="align-left" [ngClass]="{'is-serving': matchService.isServing(2)}"
              (click)="matchService.setService(2)">{{matchService.game.getTeamLabel(2) | uppercase}} 
              <ion-icon *ngIf="matchService.isServing(2)" name="tennisball-outline" class="tennis-ball"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>