<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)='goBack()'>
      <ion-icon name="chevron-back-outline" size="large"></ion-icon> {{"VOLVER" | translate}}
    </ion-buttons>
    <ion-title>{{"ESTADISTICAS" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group value="first">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{"PARTIDO" | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col>
              <div class="ion-padding">
                <ion-grid [fixed]="true">
                  <ion-row>
                    <ion-col class="align-center">
                      {{matchService.game.getTeamLabel(1)}}
                    </ion-col>
                    <ion-col>
                    </ion-col>
                    <ion-col class="align-center">
                      {{matchService.game.getTeamLabel(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos Ganados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinnedPoints(1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinnedPoints(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- % Puntos Ganados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinnedPointsPercentage(1)}}%
                    </ion-col>
                    <ion-col class="align-center">
                      % {{"PUNTOS GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinnedPointsPercentage(2)}}%
                    </ion-col>
                  </ion-row>
                  <!-- Opciones de Break -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getBreakOptions(1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"OPCIONES DE BREAK" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getBreakOptions(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Breaks Obtenidos-->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getBreaks(1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"BREAK OBTENIDOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getBreaks(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos de Oro -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getGoldenPoinsPlayed(1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS DE ORO" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getGoldenPoinsPlayed(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos de Oro Ganados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getGoldenPointsWinned(1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS DE ORO GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getGoldenPointsWinned(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos Consecutivos Ganados-->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getConsecutivePointsWinned(1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS CONSECUTIVOS GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getConsecutivePointsWinned(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Errores No Forzados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getUnforcedErrors(1,'drive')+getUnforcedErrors(1,'reves')}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"ERRORES NO FORZADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getUnforcedErrors(2,'drive')+getUnforcedErrors(2,'reves')}}
                    </ion-col>
                  </ion-row>
                  <!-- Winners -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinners(1,'all')}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"WINNER" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinners(2,'all')}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"PUNTOS GANADOS" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineCanvas></canvas>
                  <ion-icon name="ellipse" class="icon-color-t1"></ion-icon> {{getTeamLabel(1)}} <ion-icon
                    name="ellipse" class="icon-color-t1"></ion-icon> {{getTeamLabel(2)}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR PAREJA" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineUnforcedErrorsPerTeam style="position: relative; height:20vh; width:40vw"></canvas>
                  <ion-icon name="ellipse" class="icon-color-t1"></ion-icon> {{getTeamLabel(1)}} <ion-icon
                    name="ellipse" class="icon-color-t1"></ion-icon> {{getTeamLabel(2)}}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineUnforcedErrorsPerPlayer style="position: relative; height:20vh; width:40vw"></canvas>
                  <ion-icon name="ellipse" class="icon-color-p1"></ion-icon> {{game.team1.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p2"></ion-icon> {{game.team1.reves.name}}
                  <ion-icon name="ellipse" class="icon-color-p3"></ion-icon> {{game.team2.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p4"></ion-icon> {{game.team2.reves.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR PAREJA" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #teamUnforcedErrorsBarChart></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #playersUnforcedErrorsBarChart></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR PAREJA" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineWinnersPerTeam style="position: relative; height:20vh; width:40vw"></canvas>
                  <ion-icon name="ellipse" class="icon-color-t1"></ion-icon> {{getTeamLabel(1)}} <ion-icon
                    name="ellipse" class="icon-color-t1"></ion-icon> {{getTeamLabel(2)}}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineWinnersPerPlayer style="position: relative; height:20vh; width:40vw"></canvas>
                  <ion-icon name="ellipse" class="icon-color-p1"></ion-icon> {{game.team1.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p2"></ion-icon> {{game.team1.reves.name}}
                  <ion-icon name="ellipse" class="icon-color-p3"></ion-icon> {{game.team2.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p4"></ion-icon> {{game.team2.reves.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR PAREJA" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #teamWinnersBarChart></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #playersWinnersBarChart></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS 40 ABAJO" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineWinnersIn40PerPlayer></canvas>
                  <ion-icon name="ellipse" class="icon-color-p1"></ion-icon> {{game.team1.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p2"></ion-icon> {{game.team1.reves.name}}
                  <ion-icon name="ellipse" class="icon-color-p3"></ion-icon> {{game.team2.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p4"></ion-icon> {{game.team2.reves.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS 40 ABAJO" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineUnforcedErrorIn40perPlayer></canvas>
                  <ion-icon name="ellipse" class="icon-color-p1"></ion-icon> {{game.team1.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p2"></ion-icon> {{game.team1.reves.name}}
                  <ion-icon name="ellipse" class="icon-color-p3"></ion-icon> {{game.team2.drive.name}} <ion-icon
                    name="ellipse" class="icon-color-p4"></ion-icon> {{game.team2.reves.name}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>

    <!-- Set 1 -->

    <ion-accordion value="second" *ngIf="matchService.game.currentSet >= 1">
      <ion-item slot="header" color="light">
        <ion-label>{{"PRIMER SET" | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="ion-padding">
                <ion-grid [fixed]="true">
                  <ion-row>
                    <ion-col class="align-center">
                      {{matchService.game.getTeamLabel(1)}}
                    </ion-col>
                    <ion-col>
                    </ion-col>
                    <ion-col class="align-center">
                      {{matchService.game.getTeamLabel(2)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos Ganados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinnedPoints(1,1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinnedPoints(2,1)}}
                    </ion-col>
                  </ion-row>
                  <!-- % Puntos Ganados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinnedPointsPercentage(1,1)}}%
                    </ion-col>
                    <ion-col class="align-center">
                      % {{"PUNTOS GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinnedPointsPercentage(2,1)}}%
                    </ion-col>
                  </ion-row>
                  <!-- Opciones de Break -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getBreakOptions(1,1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"OPCIONES DE BREAK" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getBreakOptions(2,1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Breaks Obtenidos-->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getBreaks(1,1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"BREAK OBTENIDOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getBreaks(2,1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos de Oro -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getGoldenPoinsPlayed(1,1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS DE ORO" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getGoldenPoinsPlayed(2,1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos de Oro Ganados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getGoldenPointsWinned(1,1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS DE ORO GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getGoldenPointsWinned(2,1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Puntos Consecutivos Ganados-->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getConsecutivePointsWinned(1,1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"PUNTOS CONSECUTIVOS GANADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getConsecutivePointsWinned(2,1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Errores No Forzados -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getUnforcedErrors(1,'drive')+getUnforcedErrors(1,'reves',1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"ERRORES NO FORZADOS" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getUnforcedErrors(2,'drive')+getUnforcedErrors(2,'reves',1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Winners -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinners(1,'drive')+getWinners(1,'reves',1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"WINNER" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinners(2,'drive')+getWinners(2,'reves',1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Errores en 40 -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getUnforceErrorsIn40(1,'drive',1)+getUnforceErrorsIn40(1,'reves',1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"ERRORES NO FOZADOS 40 ABAJO" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getUnforceErrorsIn40(2,'drive',1)+getUnforceErrorsIn40(2,'reves',1)}}
                    </ion-col>
                  </ion-row>
                  <!-- Winners en 40 -->
                  <ion-row>
                    <ion-col class="align-center">
                      {{getWinnersIn40(1,'drive')+getWinnersIn40(1,'reves',1)}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{"WINNERS 40 ABAJO" | translate}}
                    </ion-col>
                    <ion-col class="align-center">
                      {{getWinnersIn40(2,'drive')+getWinnersIn40(2,'reves',1)}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR PAREJA" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #teamUnforcedErrorsBarChartSet1></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #playersUnforcedErrorsBarChartSet1></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR EQUIPO" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #teamWinnersBarChartSet1></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>Winners Por Jugador</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #playersWinnersBarChartSet1></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    <!-- segundo set -->
    <ion-accordion value="third" *ngIf="matchService.game.currentSet >= 2">
      <ion-item slot="header" color="light">
        <ion-label>{{"SEGUNDO SET" | translate}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col class="align-center">
              {{matchService.game.getTeamLabel(1)}}
            </ion-col>
            <ion-col>
            </ion-col>
            <ion-col class="align-center">
              {{matchService.game.getTeamLabel(2)}}
            </ion-col>
          </ion-row>
          <!-- Puntos Ganados -->
          <ion-row>
            <ion-col class="align-center">
              {{getWinnedPoints(1,2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"PUNTOS GANADOS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getWinnedPoints(2,2)}}
            </ion-col>
          </ion-row>
          <!-- % Puntos Ganados -->
          <ion-row>
            <ion-col class="align-center">
              {{getWinnedPointsPercentage(1,2)}}%
            </ion-col>
            <ion-col class="align-center">
              % {{"PUNTOS GANADOS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getWinnedPointsPercentage(2,2)}}%
            </ion-col>
          </ion-row>
          <!-- Opciones de Break -->
          <ion-row>
            <ion-col class="align-center">
              {{getBreakOptions(1,2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"OPCIONES DE BREAK" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getBreakOptions(2,2)}}
            </ion-col>
          </ion-row>
          <!-- Breaks Obtenidos -->
          <ion-row>
            <ion-col class="align-center">
              {{getBreaks(1,2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"BREAKS OBTENIDOS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getBreaks(2,2)}}
            </ion-col>
          </ion-row>
          <!-- Puntos de Oro -->
          <ion-row>
            <ion-col class="align-center">
              {{getGoldenPoinsPlayed(1,2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"PUNTOS DE ORO" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getGoldenPoinsPlayed(2,2)}}
            </ion-col>
          </ion-row>
          <!-- Puntos de Oro Ganados -->
          <ion-row>
            <ion-col class="align-center">
              {{getGoldenPointsWinned(1,2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"PUNTOS DE ORO GANADOS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getGoldenPointsWinned(2,2)}}
            </ion-col>
          </ion-row>
          <!-- Puntos Consecutivos Ganados -->
          <ion-row>
            <ion-col class="align-center">
              {{getConsecutivePointsWinned(1,2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"PUNTOS CONSECUTIVOS GANADOS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getConsecutivePointsWinned(2,2)}}
            </ion-col>
          </ion-row>
          <!-- Errores No Forzados -->
          <ion-row>
            <ion-col class="align-center">
              {{getUnforcedErrors(1,'drive')+getUnforcedErrors(1,'reves',2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"ERRORES NO FORZADOS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getUnforcedErrors(2,'drive')+getUnforcedErrors(2,'reves',2)}}
            </ion-col>
          </ion-row>
          <!-- Winners -->
          <ion-row>
            <ion-col class="align-center">
              {{getWinners(1,'drive')+getWinners(1,'reves',2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"WINNERS" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getWinners(2,'drive')+getWinners(2,'reves',2)}}
            </ion-col>
          </ion-row>
          <!-- Errores no forzados 40 abajo -->
          <ion-row>
            <ion-col class="align-center">
              {{getUnforceErrorsIn40(1,'drive',2)+getUnforceErrorsIn40(1,'reves',2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"ERRORES NO FORZADOS 40 ABAJO" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getUnforceErrorsIn40(2,'drive',2)+getUnforceErrorsIn40(2,'reves',2)}}
            </ion-col>
          </ion-row>
          <!-- Winners en 40 -->
          <ion-row>
            <ion-col class="align-center">
              {{getWinnersIn40(1,'drive',2)+getWinnersIn40(1,'reves',2)}}
            </ion-col>
            <ion-col class="align-center">
              {{"WINNERS 40 ABAJO" | translate}}
            </ion-col>
            <ion-col class="align-center">
              {{getWinnersIn40(2,'drive',2)+getWinnersIn40(2,'reves',2)}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR EQUIPO" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #teamUnforcedErrorsBarChartSet2></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"ERRORES NO FORZADOS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #playersUnforcedErrorsBarChartSet2></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR EQUIPO" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #teamWinnersBarChartSet2></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-md="6" size-sm="12">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{"WINNERS POR JUGADOR" | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <canvas #playersWinnersBarChartSet2></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    
    <!-- tercer set -->
    <ion-accordion value="fourth"
    *ngIf="this.matchService.game.currentSet >= 3 && this.matchService.game.thirdSetType == 3">
    <ion-item slot="header" color="light">
      <ion-label>{{"TERCER SET" | translate}}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-padding">
              <ion-grid [fixed]="true">
                <ion-row>
                  <ion-col class="align-center">
                    {{matchService.game.getTeamLabel(1)}}
                  </ion-col>
                  <ion-col>
                  </ion-col>
                  <ion-col class="align-center">
                    {{matchService.game.getTeamLabel(2)}}
                  </ion-col>
                </ion-row>
                <!-- Puntos Ganados -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getWinnedPoints(1,3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"PUNTOS GANADOS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getWinnedPoints(2,3)}}
                  </ion-col>
                </ion-row>
                <!-- % Puntos Ganados -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getWinnedPointsPercentage(1,3)}}%
                  </ion-col>
                  <ion-col class="align-center">
                    % {{"PUNTOS GANADOS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getWinnedPointsPercentage(2,3)}}%
                  </ion-col>
                </ion-row>
                <!-- Opciones de Break -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getBreakOptions(1,3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"OPCIONES DE BREAK" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getBreakOptions(2,3)}}
                  </ion-col>
                </ion-row>
                <!-- Breaks Obtenidos -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getBreaks(1,3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"BREAKS OBTENIDOS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getBreaks(2,3)}}
                  </ion-col>
                </ion-row>
                <!-- Puntos de Oro -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getGoldenPoinsPlayed(1,3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"PUNTOS DE ORO" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getGoldenPoinsPlayed(2,3)}}
                  </ion-col>
                </ion-row>
                <!-- Puntos de Oro Ganados -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getGoldenPointsWinned(1,3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"PUNTOS DE ORO GANADOS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getGoldenPointsWinned(2,3)}}
                  </ion-col>
                </ion-row>
                <!-- Puntos Consecutivos Ganados -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getConsecutivePointsWinned(1,3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"PUNTOS CONSECUTIVOS GANADOS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getConsecutivePointsWinned(2,3)}}
                  </ion-col>
                </ion-row>
                <!-- Errores No Forzados -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getUnforcedErrors(1,'drive')+getUnforcedErrors(1,'reves',3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"ERRORES NO FORZADOS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getUnforcedErrors(2,'drive')+getUnforcedErrors(2,'reves',3)}}
                  </ion-col>
                </ion-row>
                <!-- Winners -->
                <ion-row>
                  <ion-col class="align-center">
                    {{getWinners(1,'drive')+getWinners(1,'reves',3)}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{"WINNERS" | translate}}
                  </ion-col>
                  <ion-col class="align-center">
                    {{getWinners(2,'drive')+getWinners(2,'reves',3)}}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-sm="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{"ERRORES NO FORZADOS POR EQUIPO" | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <canvas #teamUnforcedErrorsBarChartSet3></canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-md="6" size-sm="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{"ERRORES NO FORZADOS POR JUGADOR" | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <canvas #playersUnforcedErrorsBarChartSet3></canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-sm="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{"WINNERS POR EQUIPO" | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <canvas #teamWinnersBarChartSet3></canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size-md="6" size-sm="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{"WINNERS POR JUGADOR" | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <canvas #playersWinnersBarChartSet3></canvas>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>
  
  <ion-accordion value="fifth"
  *ngIf="this.matchService.game.currentSet >= 4 && this.matchService.game.thirdSetType == 4">
  <ion-item slot="header" color="light">
    <ion-label>{{"SUPER TIE BREAK" | translate}}</ion-label>
  </ion-item>
  <div class="ion-padding" slot="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="ion-padding">
            <ion-grid [fixed]="true">
              <ion-row>
                <ion-col class="align-center">
                  {{matchService.game.getTeamLabel(1)}}
                </ion-col>
                <ion-col>
                </ion-col>
                <ion-col class="align-center">
                  {{matchService.game.getTeamLabel(2)}}
                </ion-col>
              </ion-row>
              <!-- Puntos Ganados -->
              <ion-row>
                <ion-col class="align-center">
                  {{getWinnedPoints(1,4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"PUNTOS GANADOS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getWinnedPoints(2,4)}}
                </ion-col>
              </ion-row>
              <!-- % Puntos Ganados -->
              <ion-row>
                <ion-col class="align-center">
                  {{getWinnedPointsPercentage(1,4)}}%
                </ion-col>
                <ion-col class="align-center">
                  % {{"PUNTOS GANADOS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getWinnedPointsPercentage(2,4)}}%
                </ion-col>
              </ion-row>
              <!-- Opciones de Break -->
              <ion-row>
                <ion-col class="align-center">
                  {{getBreakOptions(1,4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"OPCIONES DE BREAK" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getBreakOptions(2,4)}}
                </ion-col>
              </ion-row>
              <!-- Breaks Obtenidos -->
              <ion-row>
                <ion-col class="align-center">
                  {{getBreaks(1,4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"BREAKS OBTENIDOS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getBreaks(2,4)}}
                </ion-col>
              </ion-row>
              <!-- Puntos de Oro -->
              <ion-row>
                <ion-col class="align-center">
                  {{getGoldenPoinsPlayed(1,4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"PUNTOS DE ORO" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getGoldenPoinsPlayed(2,4)}}
                </ion-col>
              </ion-row>
              <!-- Puntos de Oro Ganados -->
              <ion-row>
                <ion-col class="align-center">
                  {{getGoldenPointsWinned(1,4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"PUNTOS DE ORO GANADOS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getGoldenPointsWinned(2,4)}}
                </ion-col>
              </ion-row>
              <!-- Puntos Consecutivos Ganados -->
              <ion-row>
                <ion-col class="align-center">
                  {{getConsecutivePointsWinned(1,4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"PUNTOS CONSECUTIVOS GANADOS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getConsecutivePointsWinned(2,4)}}
                </ion-col>
              </ion-row>
              <!-- Errores No Forzados -->
              <ion-row>
                <ion-col class="align-center">
                  {{getUnforcedErrors(1,'drive')+getUnforcedErrors(1,'reves',4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"ERRORES NO FORZADOS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getUnforcedErrors(2,'drive')+getUnforcedErrors(2,'reves',4)}}
                </ion-col>
              </ion-row>
              <!-- Winners -->
              <ion-row>
                <ion-col class="align-center">
                  {{getWinners(1,'drive')+getWinners(1,'reves',4)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"WINNERS" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getWinners(2,'drive')+getWinners(2,'reves',4)}}
                </ion-col>
              </ion-row>
              <!-- Errores no forzados 40 abajo -->
              <ion-row>
                <ion-col class="align-center">
                  {{getUnforceErrorsIn40(1,'drive',3)+getUnforceErrorsIn40(1,'reves',3)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"ERRORES NO FORZADOS 40 ABAJO" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getUnforceErrorsIn40(2,'drive',3)+getUnforceErrorsIn40(2,'reves',3)}}
                </ion-col>
              </ion-row>
              <!-- Winners en 40 -->
              <ion-row>
                <ion-col class="align-center">
                  {{getWinnersIn40(1,'drive',3)+getWinnersIn40(1,'reves',3)}}
                </ion-col>
                <ion-col class="align-center">
                  {{"WINNERS 40 ABAJO" | translate}}
                </ion-col>
                <ion-col class="align-center">
                  {{getWinnersIn40(2,'drive',3)+getWinnersIn40(2,'reves',3)}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" size-sm="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{"ERRORES NO FORZADOS POR EQUIPO" | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #teamUnforcedErrorsBarChartSuper></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-md="6" size-sm="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{"ERRORES NO FORZADOS POR JUGADOR" | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #playersUnforcedErrorsBarChartSuper></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6" size-sm="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{"WINNERS POR EQUIPO" | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #teamWinnersBarChartSuper></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-md="6" size-sm="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{"WINNERS POR JUGADOR" | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas #playersWinnersBarChartSuper></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-accordion>

  </ion-accordion-group>
</ion-content>