.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}


.icon-color-t1 { color: #00B1FF; }
.icon-color-t2 { color: #00E5BA; }


.icon-color-p1 { color: #00B1FF; }

.icon-color-p2 { color: #00CEEF; }

.icon-color-p3 { color: #00E5BA; }

.icon-color-p4 { color: #8CF387; }

ion-card-title{
    font-size: 15px;
}