<ion-grid>
  <ion-row  class="ion-align-items-center">
    <ion-col>Winners</ion-col>
    <ion-col>
        <span (click)="onMinusWinner()"><ion-icon 
          slot="icon-only" 
          name="remove-outline"
          size="large">
        </ion-icon></span>      
      <span class="text">{{winners}}</span>
      <span (click)="onAddWinner()">
        <ion-icon 
          slot="icon-only" 
          name="add-outline"
          size="large">
        </ion-icon>
      </span>
    </ion-col>
  </ion-row>
  <ion-row  class="ion-align-items-center">
    <ion-col>Errores No forzados</ion-col>
    <ion-col><span (click)="onMinusUnforcedError()">
      <ion-icon 
        slot="icon-only" 
        name="remove-outline"
        size="large">
      </ion-icon>
    </span>
    
    <span class="text">{{unforcedErrors}}</span>
    <span (click)="onAddUnforcedError()">
      <ion-icon 
        slot="icon-only" 
        name="add-outline"
        size="large">
      </ion-icon>
    </span></ion-col>
  </ion-row>
</ion-grid>